<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="boardMapper">

    <resultMap id="boardMap" type="object.boardVO">
    	<result property="boardNumber" column="boardNumber"/>
    	<result property="userNumber" column="userNumber"/>
    	<result property="categoryNumber" column="categoryNumber" />
    	<result property="boardText" column="boardText"/>
    	<result property="boardDate" column="boardDate"/>
    	<result property="commentCount" column="commentCount"/>
    </resultMap>
    
    <insert id="insertBoard" parameterType="object.boardVO" useGeneratedKeys="true" keyProperty="boardNumber">
    	INSERT INTO boardTable (userNumber, categoryNumber, boardText, boardDate) VALUES(#{userNumber}, #{categoryNumber}, #{boardText}, #{boardDate});
    </insert>
    
    <select id="callBoardList" parameterType="object.boardVO" resultMap="boardMap">
    	SELECT T1.*, COUNT(T2.commentNumber) AS commentCount
		FROM boardTable AS T1 LEFT JOIN commentTable AS T2 ON T1.boardNumber = T2.boardNumber
		WHERE categoryNumber = #{categoryNumber}
		<choose>
    		<when test="boardNumber > 0">
    			AND T1.boardNumber &lt; #{boardNumber}
    		</when>
    	</choose>
		GROUP BY T1.boardNumber ORDER BY T1.boardNumber DESC LIMIT 5;
    </select>
    
    <select id="callOneBoard" parameterType="object.boardVO" resultMap="boardMap">
    	SELECT T1.*, COUNT(T2.commentNumber) AS commentCount
		FROM boardTable AS T1 LEFT JOIN commentTable AS T2 ON T1.boardNumber = T2.boardNumber
		WHERE T1.boardNumber = #{boardNumber} AND T1.userNumber = #{userNumber}
		GROUP BY T1.boardNumber ORDER BY T1.boardNumber DESC LIMIT 5;
    </select>
    
    <delete id="deleteBoard" parameterType="object.boardVO">
        DELETE FROM boardTable WHERE boardNumber=#{boardNumber} AND userNumber = #{userNumber};
    </delete>
    
    <select id="oneUserBoardList" parameterType="int" resultMap="boardMap">
    	SELECT * FROM boardTable WHERE userNumber = ${userNumber} ORDER BY boardNumber ASC;
    </select>
    
    <select id="one" parameterType="int" resultMap="boardMap">
    </select>
    
</mapper>