<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="commentMapper">

    <resultMap id="commentMap" type="object.commentVO">
    	<result property="commentNumber" column="commentNumber"/>
    	<result property="boardNumber" column="boardNumber"/>
    	<result property="userNumber" column="userNumber"/>
    	<result property="commentText" column="commentText"/>
    	<result property="commentDate" column="commentDate"/>
    </resultMap>
    
    <select id="callCommentList" parameterType="int" resultMap="commentMap">
    	SELECT * FROM commentTable WHERE boardNumber = #{boardNumber}
    </select>
    
    <insert id="insertComment" parameterType="object.commentVO" useGeneratedKeys="true" keyProperty="boardNumber">
    	INSERT INTO commentTable (boardNumber, userNumber, commentText, commentDate) VALUES(#{boardNumber}, #{userNumber}, #{commentText}, #{commentDate});
    </insert>
    
    <delete id="deleteComment" parameterType="object.commentVO">
        DELETE FROM commentTable WHERE boardNumber=#{boardNumber} AND commentNumber = #{commentNumber} AND userNumber = #{userNumber};
    </delete>
    
    <delete id="deleteAllComment" parameterType="int">
    	DELETE FROM commentTable WHERE boardNumber=#{boardNumber};
    </delete>
    
    

</mapper>