<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver" />
                <property name="url" value="jdbc:mysql://115.85.183.241:3306/team4projectDB?characterEncoding=UTF8&amp;serverTimezone=UTC" />
                <property name="username" value="hgf107103" />
                <property name="password" value="Hwt0147258!" />
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="Module/databaseModule/boardMapper.xml"/>
        <mapper resource="Module/databaseModule/commentMapper.xml"/>
        <mapper resource="Module/databaseModule/userMapper.xml"/>
        <mapper resource="Module/databaseModule/userInfoMapper.xml"/>
    </mappers>
</configuration>