<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="userMapper">

    <resultMap id="userMap" type="object.userVO">
    	<result property="userNumber" column="userNumber"/>
    	<result property="userID" column="userID"/>
    	<result property="userPassword" column="userPassword"/>
    	<result property="userName" column="userName"/>
    	<result property="userNickname" column="userNickname"/>
    	<result property="userCreateDate" column="userCreateDate"/>
    </resultMap>
    
   	<select id="selectList" parameterType="object.userVO" resultMap="userMap">
        SELECT * FROM userTable ORDER BY userNumber ASC;
    </select>

</mapper>